* {
    margin: 0px;
    padding: 0px;
}

.parent {
    background-image: url(../images/imgs/pexels-gochrisgoxyz-1477166.jpg);
    height: 750px;
    width: 100%;
    background-size: cover;
}

.flowerlogo {
    width: 100%;
    text-align: center;
}

.flower {
    width: 12%;
}

.container {
    width: 100%;
    height: 70%;
    text-align: center;

}

.fimg {
    width: 330px;
    height: 450px;

}

.simg {
    width: 330px;
    height: 450px;

}

.timg {
    width: 330px;
    height: 450px;

}

.card {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 330px;
    margin: 10px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


.fdiv {
    width: 25%;
    display: inline-block;

}

.sdiv {
    width: 25%;
    display: inline-block;
}

.tdiv {
    width: 25%;
    display: inline-block;
}

.text {
    width: 330px;
    height: 450px;
    border-radius: 35px;
    padding-top: 50px;
    font-size: large;
    text-align: center;
    position: relative;
    bottom: 434px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    transform: scale(1.3);
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .text {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20px);

}

p {
    margin-top: 25px;
    padding-top: 40px;
    text-align: center;
}

.card:hover.p {
    visibility: visible;
    opacity: 10;
}

.rprice {
    padding-top: 10px;
    width: 40%;
    color: gray;
    font-size: larger;
    display: inline-block;
    text-decoration: line-through;
}

.Lprice {
    color: white;
    padding-top: 10px;
    width: 40%;
    font-size: larger;
    display: inline-block;
}

button {

    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 35%;
    border-style: hidden;
    background-color: cornflowerblue;
    color: white;
    font-size: large;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: aquamarine;
}